/* Nagy Gergely */
*{
    color:white;
    text-align: center;
}
body{
    background-color: black;
    margin: 5px;
    padding: 5px;
}
li{
    text-align: left;
}
table{
    width:100%;
}
th{
    background-color: rgba(240, 216, 0, 0.3);
}
td{
    background-color: rgba(240, 216, 0, 0.2);
}
#A579778{
    background-color: #025418;
}
#A613877{
    background-color: #021d69;
}
#A631053{
    background-color: #460269;
}
#A852313{
    background-color: #693702;
}
.ASD{
    padding:15px;
}
.DSA{
    padding:25px;
}
.ezegykep{
    max-width:800px;
    margin-top: 10px;
    margin-bottom: 10px;
}
img{
    border-width: 2px;
    border-style: dashed;
    border-color: rgb(9, 222, 230);
    border-radius: 15px;
}
